*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: "Open Sans",sans-serif;
}

nav{
	padding: 8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid grey;

}

nav > ul{
	list-style-type: none;
}

nav.nav,nav.nav-logo{
	margin: 2rem;
	display: inline;	
}

#intro{
	padding-left: 10%;
	padding-right: 10;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

#intro h2, #intro p{
	margin-bottom: 1rem;
	
}

#intro button{
	color: white;
	font-size: 1rem;
	background-color: #5efffb;
	border-radius: 25px;

}

#info{
	padding-left: 10%;
	padding-right: 10;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

#info>h2{
	margin-bottom: 1rem;
}
#info>div{
	border: 1px solid black;
	display: inline-block;
	vertical-align: top;
	width: 30%;
	margin-left: .5rem;
	margin-right: .5rem;
	padding: 5px;

}