/*CSS Reset*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: "Open Sans", sans-serif;
}

nav{
	padding: .8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid grey;
}

nav>ul{
	list-style-type: none;
}

/*, - multiple selectors; used to select multiple selectors with different type/class/id names*/
nav .nav, nav .nav-logo{
	margin: .5rem;
	display: inline;
}

/*INTRO SECTION*/

#intro{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

#intro h2, #intro p{
	margin-bottom: 1rem;
}

#intro button{
	color: white;
	/*font-weight - declares the thickness of the text*/
	font-weight: bold;
	background-color: #C2395B;
	padding: 1rem;
	font-size: 1rem;
	border-radius: 25px;
}

/*INFO SECTION*/

#info{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

#info>h2{
	margin-bottom: 1rem;
}

#info>div{
	border: 1px solid black;
	display: inline-block;
	vertical-align: top;
	/*percentage value in width means that the element will occupy the 30% of the viewport width*/
	width: 30%;
	margin-left: .5rem;
	margin-right: .5rem;
	padding: 5px;
	/*min-height - sets the minimum height for the element especially if the content does not reach the target height.*/
	min-height: 150px;
}

#info h3{
	margin-bottom: 1rem;
}

#pre-footer{
	text-align: left;
	margin-top: 18rem;
	background-color: #002540;

}

#pre-footer>div{
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-left: 1rem;
	padding-top: 20px;
	min-height: 150px;
	color: white;
	}

#footer{
	margin-top: .5rem;
	margin-bottom: .5rem;
}
#pre-footer>div>h3{
	padding-bottom: 8px;
}

.pre-footer{
	padding-bottom: 5px;
}

.footer{
	padding-left: 10px;
	padding-right: 32px;
	text-align: center;
}